
body {
    background-color: rgb(0, 0, 0);
    margin: 0px;
    overflow: hidden;
    max-height: 700px;
}

html {
    overflow: hidden;
    height: 100%;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 450px;
}


@media screen and (min-width: 768px) {

    body {
        max-height: 768px ;
    }

    .spinnerContainer {
        left: 140px;
    }
   
  }

@media screen and (min-width: 1024px) {

    
    body {
        max-height: 768px ;
    }

    .spinnerContainer {
        left: 140px;
    }

    .songLyric {
        font-size: 22px;
    }

    .gameHeading > h1 {
        font-size: 24px;
    }
    
    .gameHeading > p {
        font-size: 20px;
    }
   
  }

@media screen and (min-width: 1440px) {

    body {
        max-height: 1080px;
    }

    .gameComponent {
        height: 400px;
    }

    .spinnerContainer {
        left: 145px;
    }

    button {
        height: 60px;
        width: 280px;
        font-size: 25px;
        margin-bottom: 10px;
    }

    .gameHeading > h1 {
        font-size: 26px;
    }
    
    .gameHeading > p {
        font-size: 20px;
    }
  }
