body {
    background-color: rgb(0, 0, 0);
    margin: 0px;
    overflow: hidden;
    /* max-height: 700px; */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    overflow: hidden;
    height: 100vh;
}

#stylisticLine {
    color: #198dc1;
    border: 1px solid #198dc1;
    width: 70%;
    margin-top: 15px;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
}


button {
    margin-top: 15px;
    background-color: #198dc1;
    color: white;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    font-size: 20px;
}

button:hover {
    background-color: #0b6088;
}

.header {
    color: #ffffffd5;
    margin-bottom: 15px;
}

.mainWrapper {
    color: white;
}

.altBtn {
    margin-bottom: 10px;
    color: #ffffffe9;
}

.alternatives {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lyricsWrapper {
    color: black;
    text-align: center;
    font-weight: 400px;
    width: 340px;
    margin-top: 20px;
    margin-left: 41px;
}

.lyricsWrapper1 {
    color: black;
    text-align: center;
    font-weight: 400px;
    width: 340px;
}

.displayLyrics {
    color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.snippet {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
    padding: 0px 0px 0px 0px;
    line-height: 30px;
}

.componentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.round {
    color:  #198dc1;
    text-align: center;
    margin-bottom: 0;
    position: relative;
    top: 10px;
    font-size: large;
    font-weight: bold;
}

.waitingForPlayers {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

#playersReady {
    margin-top: 0px;
}

#sorryMessage {
    margin-left: 20px;
}

@media screen and (min-width: 768px) {

    body {
        max-height: 768px ;
    }

    .spinnerContainer {
        left: 140px;
    }
   
  }

@media screen and (min-width: 1024px) {

    
    body {
        max-height: 100vh ;
    }

    .gameHeading > h1 {
        font-size: 24px;
    }
    
    .gameHeading > p {
        font-size: 20px;
    }
   
  }

@media screen and (min-width: 1440px) {

    body {
        max-height: 100vh;
    }

    button {
        height: 60px;
        width: 250px;
        font-size: 25px;
        margin-bottom: 10px;
    }

    .gameHeading > h1 {
        font-size: 26px;
    }
    
    .gameHeading > p {
        font-size: 20px;
    }
  }